body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Common button styles */
.button {
  background-color: #b8794b;
  border-radius: 5px;
  height: 37px;
  position: absolute;
  top: 0;
  width: 44px;
  cursor: pointer;
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.icon-symbol {
  height: 18px;
  left: 11px;
  position: absolute;
  top: 9px;
  width: 22px;
}

.dot-indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px; /* Adjust width as needed to space the dots */
  position: absolute;
  left: 50%; /* Center within the group */
  transform: translateX(-50%);
  top: 12px; /* Align with back and menu buttons */
}

.dot {
  width: 15px; /* Size of each dot */
  height: 15px;
  border-radius: 50%;
  border: 2px solid #8C5A3E; /* Outline color */
  background-color: transparent; /* Empty dots */
}

.dot.filled {
  background-color: #b8794b; /* Filled color for active dot */
}

.dot:hover {
  background-color: #8C5A3E; /* Hover color for inactive dots */
}

/* Tooltip styles */
.dot:hover::after {
  content: attr(data-tooltip);
  position: relative;
  bottom: -200%;
  transform: translateX(-50%);
  background-color: #c1a58c;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font: 16px 'Open Sans', sans-serif;
}

.dot:hover::after {
  opacity: 1;
}