.Menu {
  background-color: #d5c3a1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Menu .div {
  background-color: #d5c3a1;
  height: 852px;
  position: relative;
  width: 393px;
}

.Menu .overlap {
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 214px;
  width: 295px;
}

.Menu .rectangle {
  background-color: #4b2e1d;
  border-radius: 15px;
  height: 71px;
  left: 0;
  position: absolute;
  top: 0;
  width: 295px;
}

.Menu .text-wrapper {
  color: #d5c3a1;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 235px;
}

.Menu .overlap-group {
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 300px;
  width: 295px;
}

.Menu .rectangle-2 {
  background-color: #6f4e37;
  border-radius: 15px;
  height: 71px;
  left: 0;
  position: absolute;
  top: 0;
  width: 295px;
}

.Menu .text-wrapper-2 {
  color: #d5c3a1;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 235px;
}

.Menu .div-wrapper {
  background-color: #f5f0e1;
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 731px;
  width: 295px;
}

.Menu .text-wrapper-3 {
  color: #4b2e1d;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 45px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 235px;
}

.Menu .overlap-2 {
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 387px;
  width: 295px;
}

.Menu .rectangle-3 {
  background-color: #7b8d42;
  border-radius: 15px;
  height: 71px;
  left: 0;
  position: absolute;
  top: 0;
  width: 295px;
}

.Menu .text-wrapper-4 {
  color: #d5c3a1;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 235px;
}

.Menu .overlap-3 {
  background-color: #6c7b5b;
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 473px;
  width: 295px;
}

.Menu .overlap-4 {
  background-color: #b8794b;
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 559px;
  width: 295px;
}

.Menu .text-wrapper-5 {
  color: #4b2e1d;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 235px;
}

.Menu .overlap-5 {
  background-color: #c1a58c;
  border-radius: 15px;
  height: 71px;
  left: 49px;
  position: absolute;
  top: 645px;
  width: 295px;
}

.Menu .overlap-6 {
  height: 103px;
  left: 16px;
  position: absolute;
  top: 13px;
  width: 361px;
}

.Menu .text-wrapper-6 {
  color: #000000;
  font-family: "Playfair", Helvetica;
  font-size: 56px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
}

.Menu .frame {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.Menu .group {
  height: 37px;
  position: relative;
}

.Menu .back-button {
  left: 0;
}
