.Screen2 {
  background-color: #d5c3a1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Screen2 .div {
  background-color: #d5c3a1;
  height: 852px;
  position: relative;
  width: 393px;
}

.Screen2 .overlap {
  height: 125px;
  left: 16px;
  position: absolute;
  top: 12px;
  width: 361px;
}

.Screen2 .text-wrapper {
  color: #000000;
  font-family: "Playfair", Helvetica;
  font-size: 56px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 295px;
}

.Screen2 .frame {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.Screen2 .group {
  height: 37px;
  position: relative;
}

.Screen2 .overlap-group {
  background-color: #b8794b;
  border-radius: 5px;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
}

.Screen2 .vector {
  height: 18px;
  left: 11px;
  position: absolute;
  top: 9px;
  width: 22px;
}

.Screen2 .vector-wrapper {
  background-color: #b8794b;
  border-radius: 5px;
  height: 37px;
  left: 317px;
  position: absolute;
  top: 0;
  width: 44px;
}

.Screen2 .rectangle {
  height: 130px;
  left: 36px;
  position: absolute;
  top: 211px;
  width: 130px;
}

.Screen2 .img {
  height: 130px;
  left: 225px;
  position: absolute;
  top: 211px;
  width: 130px;
}

.Screen2 .rectangle-2 {
  height: 130px;
  left: 36px;
  position: absolute;
  top: 360px;
  width: 130px;
}

.Screen2 .rectangle-3 {
  height: 130px;
  left: 225px;
  position: absolute;
  top: 360px;
  width: 130px;
}

.Screen2 .rectangle-4 {
  height: 130px;
  left: 37px;
  position: absolute;
  top: 509px;
  width: 130px;
}

.Screen2 .overlap-2 {
  height: 100px;
  left: 27px;
  position: absolute;
  top: 712px;
  width: 338px;
}

.Screen2 .text-wrapper-2 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 48px;
}

.Screen2 .text-wrapper-3 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.Screen2 .rectangle-5 {
  height: 99px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 338px;
}

.Screen2 .text-wrapper-4 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 44px;
  left: 190px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 28px;
}

.Screen2 .coffee-beans {
  height: 96px;
  left: 27px;
  position: absolute;
  top: 3px;
  width: 96px;
}

.Screen2 .rectangle-6 {
  height: 130px;
  left: 226px;
  position: absolute;
  top: 509px;
  width: 130px;
}

.Screen2 .overlap-3 {
  height: 30px;
  left: 38px;
  position: absolute;
  top: 661px;
  width: 310px;
}

.Screen2 .rectangle-7 {
  height: 24px;
  left: 90px;
  position: absolute;
  top: 6px;
  width: 220px;
}

.Screen2 .text-wrapper-5 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 112px;
}

.Screen2 .text-wrapper-6 {
  color: #000000;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 102px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
}
